@import url(style.css);

#display{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#expression{
    position: relative;
    top:10%;
    font-size: 1.4em;
    
}

#score{
    position: absolute;
    top:5px;
    left: 5px;
}

#next{
    position: absolute;
    top:5px;
    right: 5px;
    padding: 10px;
    border-radius: 10px;
}

#buttonsDiv{
    position: absolute;
    bottom: 0px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons{
    background-color: white;
    border-top: 1px solid gray;
    padding: 3%;
}

.buttons:last-of-type{
    border-radius: 0 0 10px 10px;
}

.right:disabled{
    background-color: greenyellow;
}

.wrong{
    background-color: red;
}